.App {
  text-align: center;
  font-size: 18px;
}

.dream-text-input {
  width: 400px;
  padding-bottom: 180px;
  border-width: 0px;
  border: black 1px solid;
  outline: none;
}

.dream-name-input {
  border: black 1px solid;
  outline: none;
}

.nav-bar {
  font-weight: bold;
}

.header {
  color: blue;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}