.App {
  text-align: center;
}

.dream-text-input {
  width: 400px;
  padding-bottom: 180px;
  border-width: 0px;
  border: black 1px solid;
  outline: none;
}

.dream-name-input {
  border: black 1px solid;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}